@media screen and (max-width: 470px){
    .banner_texto {
        width: 100%;
    }

    .banner_texto h1 {
        font-size: 40px;
    }

    form fieldset {
        min-width: initial;
    }

    .button-upload {
        min-width: initial;
    }

    .enviar {
        min-width: initial;
    }

}