@media screen and (max-width: 470px){
    footer {
        padding: 1rem .5rem;
    }
    footer img {
        width: 70px;
    }

    .grid-footer div:nth-child(2) a {
        width: 150px;
    }

    .grid-footer div:nth-child(3) {
        display: flex;
        flex-direction: column;
    }

    .banner_texto {
        width: 100%;
    }

    .banner_texto h1 {
        font-size: 40px;
    }

    .servico1:hover, .servico2:hover {
        transform: none;
        transition: none;
    }

    form fieldset {
        min-width: initial;
    }

    .button-upload {
        min-width: initial;
    }

    .enviar {
        min-width: initial;
    }

}